body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#main-content { display: none; 
}

.primary-navbar {
  background-color: #001f3f;
  color: white;
  text-align: center;
  padding: 10px 0;
  text-shadow:
  0 0 10px hsl(199, 71%, 49%),
  0 0 30px #0077ff,
  0 0 40px #031cfe, 
  0 0 50px #0077f6;
    background: linear-gradient(270deg,  #001326, #002c9b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;

  }
  
  @keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.primary-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-navbar li a {
  font-family: 'Source Serif Pro', serif;
  font-weight: 500;
  display: inline;
  font-size: 15px;
}

.secondary-navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  padding: 10px 20px;
  color: #001f3f;
  flex-wrap: wrap; 
}

.secondary-navbar ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  display: flex;
  justify-content: center; 
}

.secondary-navbar li {
  margin: 0 30px 0 0;
  position: relative; 
}

.secondary-navbar a {
  font-family: 'Avenir', sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  color: #001f3f; 
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15x;
  transition: color 0.3s
}

.secondary-navbar a:hover {
  color: #0b5f93; 
}

.section {
  display: none; 
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section.active {
  display: block; 
}

#intro-video {
  position: fixed; /* Position the video container to cover everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: -1; 
}

#intro-video video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

#home {
  background-image: url('texture.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 96%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
}

.profile-photo {
  width: 200px; 
  height: 200px; 
  border-radius: 10%;
  border: 5px solid #edda0d; 
  display: block; 
  margin: 0 auto; 
  margin-bottom: 1.5cm; 
  box-shadow:  0 0 20px hsl(60, 18%, 91%),
  0 0 30px #0a63bb,
  0 0 40px #b3c60d, 
  0 0 50px #3b7ec6;
}

#home h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1cm;
  color: hwb(210 87% 0%); 
  font-weight: bold; 
  text-align: center;
  line-height: .5cm;
}

#home h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  font-size: .6cm; 
  text-align: center;
  padding-bottom: .5cm;
  color: #ffdd33; 
  text-shadow:
  0 0 20px hsl(60, 18%, 91%),
  0 0 30px #0a63bb,
  0 0 40px #b3c60d, 
  0 0 50px #3b7ec6;
}

#home p {
  font-family: 'Merriweather', serif;
  font-size: .8cm;
  color: hsl(0, 0%, 100%); 
  font-weight: normal; 
  text-align: justify;
  text-indent: 50px;
  padding-bottom: .5cm;
}

#skills {
  background-image: url('texture.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 96%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#skills h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  text-align: center;
  color: white;
  font-size: 1cm; 
  margin-top: -15px;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

#skills.active {
  opacity: 1;
  transform: translateY(0);
}

#scontent p{
  font-family: 'Merriweather', serif;
  text-align: center;
  color: white;
  font-size: .5cm; 
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.content{
  padding-bottom: 30px; 
}

.newbg { 
  background-color: #e6f0f9; 
  padding: 10px; 
  border-radius: 10px; 
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.row.active {
  opacity: 1;
  transform: translateY(0);
}

.row p {
  font-family: 'Merriweather', serif;
  flex: 1; 
  margin: 0;
  text-align: justify;
  text-indent: 50px;
  padding: 0px 50px 0px 50px;
  color: #001f3f;
  font-size: .8cm;
}

.sphoto, .skphoto {
    width: 200px;
    height: 200px; 
    border-radius: 10%;
    border: 5px solid  #03346e; 
    display: block;
    margin: 1cm;
    margin-bottom: 1.5cm;
    box-shadow: 0 0 20px #03346e, 
                0 0 30px #0a63bb,
                0 0 40px #466ecb,
                0 0 50px #3b7ec6;
}

.sphoto + p, .skphoto + p {
    margin-left: 20px; 
}

#goal {
  background-image: url('texture.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 96%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.Header {
  display: grid;
  align-items: center; 
  grid-template-columns: 150px auto;
  gap: 20px;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

#goal h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  margin-left: 70px; 
  margin-top: -20px;
  color: white;
  font-size: .9cm; 
}

.SDG-photo{
  width: 150px;
  height: 200px; 
  object-fit: cover;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.SDGcontent{
  font-family: 'Merriweather', serif;
  color: hsl(242, 59%, 13%); 
  font-weight: normal; 
  font-size: .8cm;
  text-align:justify; 
  text-indent: 50px;
  padding: 0px 30px 0px 30px;
  transform: scale(0.5);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.SDGcontent.active {
  opacity: 1;
  transform: translateY(0);
}

.SDG_video {
  position: relative;
  overflow: hidden;
  display: flex; 
  align-items: center;
  justify-content: center; 
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 40px auto; 
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.SDG_video.active {
  opacity: 1;
  transform: translateY(0);
}

.SDGcontent p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.SDGcontent p.active {
  opacity: 1;
  transform: translateY(0);
}

.SDG_video video {
  width: 70%;
  height: 70%;
  align-self: center;
}

.overlay {
  position: absolute; 
  bottom: 0.6cm; 
  left: 31.3%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  background-color: rgba(3, 11, 27, 0.7); 
  opacity: 0; 
  transition: opacity 0.3s; 
  font-size: 12px; 
  padding: 10px;
  border-radius: 5px; 
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.SDG_video:hover .overlay{
  opacity: 1;
}

#projects {
  background-image: url('texture.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 96%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
}

#projects h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  text-align: center;
  color: white;
  font-size: 1cm; 
  margin-top: -15px;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

.ProjectContent {
  margin: 0 auto; 
  padding: 20px;
  transform: scale(0.5);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
 }

 .ProjectContent.active {
  opacity: 1;
  transform: translateY(0);
}

.row1, .row2 {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.row1.active, .row2.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.row1 p {
  font-family: 'Merriweather', serif;
  flex: 1;
  margin: 0;
  text-align: justify;
  text-indent: 50px;
  padding: 0px 30px 0px 30px;
  color: #001f3f;
  font-size: .8cm; 
}

.Hphoto {
  width: auto;
  height: 200px;
  margin-left: 20px;
  margin-right: 30px; 
}

.row2 {
  justify-content: flex-start; 
}

.row2 p {
  font-family: 'Merriweather', serif;
  flex: 1;
  margin: 0;
  margin-bottom: 30px;
  text-align: justify;
  text-indent: 50px;
  padding: 0px 30px 0px 30px;
  color: #001f3f;
  font-size: .8cm; 
}

.Yphoto {
  width: auto;
  height: 200px;
  margin-right: 20px;
  margin-left: 30px; 
}


#contact {
  background-image: url('texture.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  text-align: center;
  overflow: visible;
  height: 3cm; 
  width: 96%;
  border-radius: 10px;
  text-align: left;
}

.contact-item {
  float: left;
  width: 30%; 
  margin-right: 5%; 
  text-align: center; 
}

.contact-item:last-child {
  margin-right: 0; 
}

#contact h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  color:#bbd3ea
}

#contact p {
  font-family: 'Merriweather', serif;
  margin-top: .8cm; 
  font-size: .5cm; 
  color: #ffffff; 
}

.ebutton {
  position: relative; 
  background-color: #03346e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 0.5cm;
  transition: background-color 0.3s;
}

.ebutton:hover {
  background-color: #3564a5;
}

.ebutton:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.fbutton {
  position: relative; 
  background-color: #03346e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 0.5cm;
  transition: background-color 0.3s;
}

.fbutton:hover {
  background-color: #3564a5;
}

.fbutton:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  visibility: hidden;
  font-size: .350cm; 
  width: 200px; 
  background-color: rgb(42, 43, 43);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%; 
  left: 50%;
  margin-left: -80px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.dropdown-content {
  display: none; 
  position: absolute; 
  background-color: #ffffff;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-content a {
  color: #001f3f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; 
}

.secondary-navbar li:hover .dropdown-content {
  display: block; 
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

footer {
  color: #001f3f;
  text-align: center;
  padding: 0;
}


